/*
    Colores usados en la página
    #bfb9b9 gris claro
    #908e8e gris menos claro
    #666 gris oscuro
    #000 negro
*/

html, body {
    width: 100vw;
    height: 100vh;
}
body{
    background-image: url(../img/griego.jpg);
    
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo {
    background-image: url(../img/logoIBQ.jpg);
    position: absolute;
    bottom: 5vh;
    left: 2vw;
    width: 121px;
    height: 61px;           
}


h1 {
    font-weight: bold;
    width: 50vw;
    height: 10vh;
    font-size: 6vh;
    display: inline-block;
    position: absolute;
    top: 10vh;
    right: 0;
    text-align: center;
    color: #bfb9b9;
}

form {
    background-color: #bfb9b9;
    width: 30vw;
    height: 73vh;
    position: absolute;
    top: 20vh;
    right: 10vw;
    padding: 50px;
}

p {
    text-align: center;
    margin-top: 5vh;
}


.button {
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    color: #000000;
    font-family: roboto,Arial, Helvetica, sans-serif;
    transition:all 1s;
    font-size: 14px;
    font-weight: 700;
    background-color: #666;
    border-radius: 3px;
}

.button:hover {
    background-color: #908e8e;
    transition: all 1s;
}

.input {
    border-bottom: 1px solid black;
    margin-bottom: 5vh;
}

input{
    width: 100%;
    border: none;
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    background-color: #bfb9b9 ;
    outline: none;
}